.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    & .header-title {
        font-size: 4rem;
    }

    & .buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}